{{set . "title" "Test GET request"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1><a href="/">Home</a><br />Test GET request: responce form</h1>
      <p>
		First name: {{.fname}}<br />
		Second name: {{.lname}}
	  </p>
    </div>
  </div>
  <h6>Edit this file in app/views/App/Proceed.html</h6>
  <h6>Controller: app/controllers/app.go : func (c App) Proceed()</h6>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
